# dirs
node_modules/
/assets/
/data/
/test*
dist/
.vscode/
.backup/
web-page/
deprecated/
.history/
css/

# files
*.old
git-cmd.*
tsconfig*.json
package_.json
*-cred.json
credentials.json
*-token.json
tokens.json
.env
*.txt
version.json